<!-- this is person_management.html  -->
{% extends 'base.html' %}
{% block content %}
<h2 class="d-flex justify-content-between align-items-center">
    Person Management
    <form method="GET" action="{{ url_for('person_management') }}" class="d-inline">
        <input type="date" id="filter-date" name="filter_date" 
               class="form-control form-control-sm d-inline-block" 
               style="width: auto;" 
               value="{{ request.args.get('filter_date', '') }}">
        <button type="submit" class="btn btn-primary btn-sm" style="margin-left: 5px;">Filter</button>
    </form>
</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Serial No</th>
            <th>ID</th>
            <th>Registration Date</th>
            <th>Embeddings Refined</th>
            <th>Captured Face</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for person in persons %}
        <tr>
            <td>{{ loop.index }}</td> <!-- Serial Number -->
            <td>{{ person.id }}</td>
            <td>{{ person.registration_date }}</td>
            <td>{{ person.embedding_count }}</td>
            <td>
                {% if person.captured_face %}
                <img src="{{ url_for('serve_captured_face', filename=person.captured_face) }}" alt="Captured Face" style="width: 100px; height: 100px;">
                {% else %}
                No Image
                {% endif %}
            </td>
            
            <td>
                <div style="display: flex; flex-direction: column; gap: 8px;">
                    <form action="{{ url_for('delete_person', person_id=person.id) }}" method="POST">
                        <button type="submit" class="btn btn-danger w-100">Delete</button>
                    </form>
                    <form action="{{ url_for('person_details', person_id=person.id) }}" method="GET">
                        <button type="submit" class="btn btn-info w-100">View Details</button>
                    </form>
                </div>
            </td>
            
            
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
